<div class="double-graph-widget">
    <h3><!-- placeholder --></h3>
    
    <table>
        <tr class="template-row">
            <td>
                <div class="graph-space">
                    <h5><!-- graph-title --></h5>
                    <span class="final-value"></span>
                    <div class="graph-container"></div>
                </div>
            </td>
            <td>
                <div class="graph-total">
                </div>
            </td>
        </tr>

        <tr>
            <td>
                <div class="graph-ratio">
                </div>
            </td>
            <td>
                <div class="graph-total grand-total">
                </div>
            </td>
        </tr>
    </table>
    
</div>